---
layout: page
title: Photos
permalink: /photos/
hide_title: true
---

<div class="photo-gallery">

  {% for set in site.data.photos %}
  <section class="photo-category">
    <a href="/photos/{{ set.slug }}/" class="photo-category-link"><h2>{{ set.title }}</h2></a>
    <div class="photo-grid">
      {% for photo in set.photos %}
      <a href="/assets/images/photos/{{ set.slug }}/{{ photo }}" class="photo-item">
        <img src="/assets/images/photos/{{ set.slug }}/{{ photo }}" alt="{{ set.title }}">
      </a>
      {% endfor %}
    </div>
  </section>
  {% endfor %}

  <section class="photo-category">
    <a href="/photos/archive/" class="photo-category-link"><h2>Archive</h2></a>
    <div class="photo-grid">
      {% for set in site.data.photos %}
        {% for photo in set.photos %}
      <a href="/assets/images/photos/{{ set.slug }}/{{ photo }}" class="photo-item">
        <img src="/assets/images/photos/{{ set.slug }}/{{ photo }}" alt="{{ set.title }}">
      </a>
        {% endfor %}
      {% endfor %}
    </div>
  </section>

</div>
