---
layout: default
title: Projects
permalink: /projects/
---

<div class="home">
  {% assign projects_count = site.projects | size %}
  {% if projects_count > 0 %}
    <div class="posts">
      {% for project in site.projects %}
        <div class="post py3">
          <p class="post-meta">
            {% if site.date_format %}
              {{ project.date | date: site.date_format }}
            {% else %}
              {{ project.date | date: "%b %-d, %Y" }}
            {% endif %}
          </p>
          <a href="{{ project.url | relative_url }}" class="post-link"><h3 class="h1 post-title">{{ project.title }}</h3></a>
          <span class="post-summary">
            {% if project.summary %}
              {{ project.summary }}
            {% else %}
              {{ project.excerpt }}
            {% endif %}
          </span>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>
