.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.site-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  border-top: $footer-border-top;
  color: $footer-color;
  font-weight: $footer-font-weight;
  padding: $footer-padding;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-name {
  font-family: $heading-font-family;
  font-size: $h4;
  font-weight: $header-font-weight;
  color: $nav-color;
}

.footer-contact {
  font-family: $heading-font-family;
  font-size: $h4;
  font-weight: $header-font-weight;
  color: $nav-color;
  text-decoration: none;
  background-image: none;
}

.footer-contact:hover {
  opacity: 0.88;
}
