.container {
    max-width: 860px;
    margin: 0 auto;
    padding: $spacer;
  
    @media (min-width: 500px) {
      padding: ($spacer * 2);
    }
  }


  .section-title {
    font-size: 1.5rem;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: ($spacer / 2);
    position: relative;
    display: table; // shrinkwrap
    padding: 0 10px;
    z-index: 2;
  
  }


.list-unstyled {
  list-style-type: none;
}

.list-inline {
  display: flex;

  li:not(:last-of-type) {
    padding-right: $spacer;
  }
}

ul.list-default {
  list-style: initial;
  margin-left: 2em;
  margin-bottom: $spacer;
}

section {
  p {
    margin-bottom: $spacer;

  }
}

.section-title {
  font-size: 1.5rem;
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: ($spacer / 2);
  position: relative;
  display: table; // shrinkwrap
  padding: 0 10px;
  z-index: 2;

}