$cinder: hsl(220, 21%, 16%);
$white: hsl(255, 100%, 100%);

.footer {
    text-align: center;
    font-size: 0.9rem;
  
    > .container {
      font-style: italic;
    }
  
    p {
      margin-bottom: ($spacer / 2);
    }
}