/**
 * ABOUT
 */
 $spacer: 10px;


 .about {
    font-family: 'Lora', serif;
    padding-bottom: $spacer * 4;

    h2 {
        font-family: 'DM Serif Text', serif;
    }

  }

/**
 * Timeline
 */

 .timeline {
    text-align: left;
    font-family: 'Lora', serif;
  
    h2 {
        font-family: 'DM Serif Text', serif;
    }
  }
  
  