/**
 * ABOUT
 */
 $spacer: 20px;


 .about {
    font-family: 'Lora', serif;

    h2 {
        font-family: 'DM Serif Text', serif
    }
    h3 {
        letter-spacing: 1px;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
      }
    

  }

/**
 * Timeline
 */

 .timeline {
    font-family: 'Lora', serif;
    font-size: .96rem;
  
    h2 {
        font-family: 'DM Serif Text', serif;
    }
    &__item-date,
    &__item-description {
      display: inline-block;
      vertical-align: top;
    }
  
    &__item-date {
      font-style: italic;
      font-weight: 600;
      font-size: 0.9rem;
      display: inline-block;
    }
  
    &__item-description {
      margin-bottom: ($spacer / 2);
    }
  
    @media (min-width: 640px) {
      &__item-date {
        width: 15%;
        text-align: right;
        padding-right: $spacer;
        display: inline-block;
        padding-right: 20px;
      }
  
      &__item-description {
        width: 85%;
      }
    }
  }

  .projects {
    font-family: 'Lora', serif;
    font-size: .96rem;
  
    h2 {
        font-family: 'DM Serif Text', serif;
    }
    &__item-title,
    &__item-description {
      display: inline-block;
      vertical-align: top;
    }

    &__item-project_url {
      display: inline-block;
      vertical-align: top;
    }
  
    &__item-title {
      font-style: italic;
      font-weight: 600;
      font-size: 0.9rem;
      display: inline-block;
    }
  
    &__item-description {
      margin-bottom: ($spacer / 2);
    }

    &__item-project_url {
      margin-bottom: ($spacer / 2);
    }

  
    @media (min-width: 640px) {
      &__item-title {
        width: 15%;
        text-align: right;
        padding-right: $spacer;
        display: inline-block;
        padding-right: 20px;
      }
  
      &__item-description {
        width: 85%;
      }
      &__item-project_url {
        width: 85%;
      }
    }
    

    &__photo-wrapper {
      display: inline-block;
      vertical-align: top;
    }

    &__photo-wrapper {
      margin-bottom: ($spacer / 2);
    }


    &__photo-wrapper {
      position: relative;
      font-family: 'Lora', serif;
      font-style: italic;

      &::before {
        position: absolute;
        top: 0;
        height: 500px;
        width: 500px;
        z-index: -1;
      }
      > img {
        width: 100%;
        display: block;
      }
    }
  }
  
  