footer.footer.dark
  .container
    p Design and code inspired by Sarah Lim, built with #[a(href="http://harpjs.com/").no-highlight Harp], hosted on #[a(href="https://pages.github.com/").no-highlight GitHub Pages].