header.header.container
    .header__intro
        h1.header__title Ngawang "Choenden" Kyirong
        p.header__affiliation Computer Science & Statistics 
        p.header__affiliation Simon Fraser University
        p.header__contact ckyirong[at]sfu[dot]ca

        ul.header__links.list-unstyled.list-inline
            for link in public._data.about.links
                li
                    a(href="#{link.url}").no-highlight
                        i.fa(class="#{link.icon}" aria-hidden="true" title="#{link.title}")      


    .header__photo
        figure.header__photo-wrapper
            img(src="assets/img/headshot.jpg" alt="Photo of me at a park")
            figcaption.header__quote "chŭn'dən" (rhymes with london)
