header.header.container

.header__intro
    h1.header__title Ngawang "Choenden" Kyirong
    p.header__affiliation Computer Science & Statistics 
    p.header__affiliation Simon Fraser University
    p.header__contact ckyirong[at]sfu[dot]ca