section.projects#projects
  .container
    h2.section-title Projects

    dl
      for projects in public._data.projects
        dd.projects__item-title
          p !{projects.title}   
        
        dd.projects__item-description
          p !{projects.description}

